Flask>=1.0,<=1.1.2
chaostoolkit-lib>==1.1.2
chaostoolkit==1.7.1
chaostoolkit-azure==0.8.3
azure-identity==1.5.0
azure-mgmt-compute==18.1.0
azure-mgmt-resourcegraph==7.0.0
azure-mgmt-sql==1.0.0
azure-mgmt-web==1.0.0
azure-mgmt-network==17.1.0
azure-servicebus==7.0.1
azure-mgmt-servicebus==6.0.0
azure-mgmt-signalr==0.4.0
azure-mgmt-redis==12.0.0
azure-mgmt-cosmosdb==6.0.0
redis==3.5.3
azure-cosmos==4.2.0
dateparser
logzero==1.5.0
requests
opencensus==0.7.12
opencensus-ext-azure==1.0.7
opencensus-ext-logging==0.1.0
simplejson
kubernetes==12.0.1
chaostoolkit-kubernetes==0.25.0
chaostoolkit-istio==0.1.4
pyyaml
pyodbc
gevent=1.4.1
